* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#my_menu {
    display: flex;
    width: 100%; 
    background-color: rgb(61, 60, 60);             
    padding: 0 21px; /* Mudamos aqui: 0 em cima/baixo para o link preencher tudo */
    margin: 0;
    overflow: visible; /* PERMITE que a aba saia para fora */
    height: 60px; /* Altura fixa para facilitar o alinhamento */
    align-items: center;
}
.menu-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 25px;
    padding: 10px 15px; /* Adicione o padding aqui também! */
    display: inline-block; /* Necessário para o padding funcionar bem */
}

/* Link SOBRE (O que vai para a direita) */
.menu-sobre {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: auto;
    padding: 10px 15px;
    display: inline-block;
}
/* Efeito ao passar o mouse (opcional, mas fica legal) */
.menu-link:hover, .menu-sobre:hover {
    background-color: #ff0000; 
    color: white;
}
.logo-container{
    background-color: green;
    margin-bottom: 50px;
}
.tituloIndex{
    text-align: center;
    margin: 30px;
}
.descricao{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.videoIndex{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.campo select {
    width: 100%;
    padding: 12px; 
    background-color: #eee; 
    border: 1px solid #ccc;
}
.campo input[type="email"],
.campo input[type="tel"],
.campo textarea {
    width: 100%;
    padding: 12px; 
    background-color: white; 
}
.botao{
    background-color: green;
    color: white;
    padding: 20px;
    border: none;
    margin:10px;
    width: 99%;
}
.rodape{
    margin-top: 50px;
}
.dropdown {
    position: relative; 
    height: 100%; /* Faz a área do mouse ocupar toda a altura da barra */
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%; /* Cola exatamente no fim da barra cinza */
    left: 0;
    min-width: 280px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 9999;
}

/* Quando passar o mouse no container, a aba aparece */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Links dentro da aba branca */
.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    background-color: white;
    margin: 0; /* Remove qualquer margem que possa ter sobrado */
}

.preencher {
    width: 100%;
    padding: 20px; 
    background-color: rgb(221, 221, 221);
    margin:20px;
    font-size: 20px;

}
.gradeImagens{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; /* Espaçamento entre imagens */
}
.conjuntoImagens{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}